/* Normalize.css */

html {
    font-family: sans-serif;
    height: 100%;
}

/* head {
    background-image: url("img/star wars-header_icon.png");
} */

/* Variavéis de uso constante */
:root {
    --primary-color: rgb(52, 225, 141);
    --secondarr-color: yellow; 
}

body {
    display: grid;
    grid-template-areas:
        "nav-bar header"
        "nav-bar page_center-band"
        "nav-bar footer";

    border: 1px dashed rgb(255, 255, 255);
    background-image: url("img/teste.jpg");
    background-size: 50%;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Navigation bar Style */
div.nav-bar{
    /* display: flex;
    align-content: space-between; 
    flex-direction: column; */
    grid-area: nav-bar;

    width: 100%;
    
    border: 1px dashed rgb(2, 204, 16);
    background-color: azure;
    margin: 0% 87% 0% 0%;
    padding: 0;
    text-align: center;
}

div.nav-bar_top{
    /* align-items: flex-start; */
}

div.nav-bar_bottom{
    /* align-items: flex-end; */
}


a.nav-bar_link{
    display: list-item;
    border-bottom: 1px solid black;
}

a.active-nav-bar_link{
    display: block;
    background-color: rgb(115, 115, 115);
    color: white;
    text-align:center;
    border-bottom: 1px solid black;
}

a.nav-bar_link:hover:not(.active-bar){
    background-color:rgb(99, 96, 96);
    color: white
}

/* .header, .page_center-band, footer{
    grid-column: 2/4;
} */

/* Header Style */
div.header{
    margin: 0% 13% 0% 13%;
    padding: 10px 8px 10px 8px;
    border: 1px solid rgb(208, 255, 0);

    grid-area: header;
}

/* Page Center-Band Style */
div.page_center-band{
    border: 1px solid rgb(255, 0, 0);
    margin: 0% 13% 0% 13%;
    padding: 10px 8px 10px 8px;
    background-color: rgb(118, 65, 8);
    border-radius: 5px;

    grid-area: page_center-band;
}

/* Footer Style */
footer{
    border: 1px solid rgb(68, 0, 255);
    height: 30%;

    grid-area: footer;
}