/* Normalize.css */

html {
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: sans-serif;
}

/*
head {
    background-image: url("img/star wars-header_icon.png");
}
*/

/* Variavéis de uso constante */
:root {
    --primary-color: rgb(52, 225, 141);
    --secondary-color: yellow;
}

body {
    border: 1px dashed rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    
    background-image: url("img/teste.jpg");
    background-size: 50%;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;

    display: grid;
    grid-template-areas:
        "nav-bar header"
        "nav-bar page_center-band"
        "nav-bar footer";
}

body background-image {
    filter: blur(5px);
}

/* Navigation bar Style */
div.nav-bar{
    border: 1px dashed rgb(0, 0, 0);
    background-color: rgb(99, 96, 96);
    width: 100%;
    /* position: fixed; */
    margin: 0% 87% 0% 0%;
    padding: 0;

    grid-area: nav-bar;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.nav-bar span {
    color: black;
    font-family: Luminari;
    font-weight: bold;
}

a.nav-bar_link {
    border-bottom: 1px solid black;
    
    text-align: center;
    text-decoration: none;
}

button.nav-bar_button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    width: 55px;
}

img, button {
    margin-left: auto;
    margin-right: auto;
}

a.nav-bar_link:hover {
    background-color:rgb(99, 96, 96);
    color: white
}

div.nav-bar_top{
    border: 1px dashed var(--primary-color);

    gap: 15px;
    display: flex;
    flex-direction: column;
}

div.nav-bar_bottom{
    border: 1px dashed var(--primary-color);

    display: flex;
    flex-direction: column;
}

/* Header Style */
div.header{
    margin: 0% 13% 0% 13%;
    padding: 10px 8px 10px 8px;
    border: 1px solid rgb(208, 255, 0);

    grid-area: header;
}

/* Page Center-Band Style */
div.page_center-band{
    border: 1px solid rgb(255, 0, 0);
    margin: 0% 13% 0% 13%;
    padding: 10px 8px 10px 8px;
    background-color: rgb(118, 65, 8);
    border-radius: 5px;

    grid-area: page_center-band;
}

/* Footer Style */
footer{
    border: 1px solid rgb(68, 0, 255);
    height: 30%;

    grid-area: footer;
}